<%provide :title, "Home"%>


		
		<!--about-us start -->
		<section id="home" class="about-us" style="background-image: url('<%= asset_path("home.jpg")%>');">
			<div class="container">
				<div class="about-us-content">
					<div class="row">
						<div class="col-sm-12">
							<div class="single-about-us">
								<div class="about-us-txt">
									<h2>
										Explore the Beauty of the Beautiful Ethiopia 

									</h2>
									<div class="about-btn">
										<button  src="#about" class="about-view">
											explore now
										</button>
										
									</div><!--/.about-btn-->
								</div><!--/.about-us-txt-->
							</div><!--/.single-about-us-->
						</div><!--/.col-->
						<div class="col-sm-0">
							<div class="single-about-us">
								
							</div><!--/.single-about-us-->
						</div><!--/.col-->
					</div><!--/.row-->
				</div><!--/.about-us-content-->
			</div><!--/.container-->

		</section><!--/.about-us-->
		<!--about-us end -->
<section class="single-service-box" id="about">
	<div class="container gallary-header">
		<div class="row gallery-details">
			<div class="col-md-12 ftco-animate p-md-5">
				<div class="row">
					<div class="col-sm-12 col-md-4 service-content">
						<h2 class="mb-4">About Us</h2>
						<p><%= @company_information.about_us%></p>
					</div>
					<div class="col-sm-12 col-md-4 service-content">
						<h2 class="mb-4">Our Mission</h2>
						<p><%= @company_information.mission%></p>
					</div>
					<div class="col-sm-12 col-md-4 service-content">
						<h2 class="mb-4">Our Vision</h2>
						<p><%= @company_information.vision%></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
        <!--service start-->
		<section id="service" class="service" style="padding-top: 0px;">
			<div class="container">
				<div class="gallary-header text-center" style="margin-top: 0px;">
						<h2>
							Our Services
						</h2>
						<p>
							Duis aute irure dolor in  velit esse cillum dolore eu fugiat nulla.  
						</p>
				</div><!--/.gallery-header-->
				<div class="service-counter text-center" style="margin-top: 40px;">
					<% @services.each do |service|%>
						<div class="col-md-4 col-sm-4">
							<div class="single-service-box">
								<div class="service-img">
								</div><!--/.service-img-->
								<div class="service-content">
									<h2>
										<a href="#">
										<%= service.service_name%>
										</a>
									</h2>
									<p><%= service.service_description%>.</p>
								</div><!--/.service-content-->
							</div><!--/.single-service-box-->
						</div><!--/.col-->
					<%end%>

				</div><!--/.statistics-counter-->	
			</div><!--/.container-->

		</section><!--/.service-->
		<!--service end-->

		<!--galley start-->
		<section id="gallery" class="gallery">
			<div class="container">
				<div class="gallery-details">
					<div class="gallary-header text-center">
						<h2>
							top destination
						</h2>
						<p>
							Duis aute irure dolor in  velit esse cillum dolore eu fugiat nulla.  
						</p>
					</div><!--/.gallery-header-->
					<div class="gallery-box">
						<div class="gallery-content">
						  	<div class="filtr-container">
						  		<div class="row">
						  			<% @destinations.each do |destination|%>
							  			<div class="col-md-6">
							  				<div class="filtr-item">
													<%= image_tag(url_for(destination.medias[0]), alt: "portfolio image")%>
													<div class="item-title">
														<a><%= link_to destination.destination_name, destination_path(destination)%>, <%= destination.country%></a>
														<p><span><%= destination.tours.count%> tours listing</span></p>
													</div><!-- /.item-title -->
												</div><!-- /.filtr-item -->
							  			</div><!-- /.col -->
						  			<%end%>
						  		</div><!-- /.row -->

						  	</div><!-- /.filtr-container-->
						</div><!-- /.gallery-content -->
					</div><!--/.galley-box-->
				</div><!--/.gallery-details-->
			</div><!--/.container-->

		</section><!--/.gallery-->
		<!--gallery end-->

		<!--packages start-->
		<section id="pack" class="packages">
			<div class="container">
				<div class="gallary-header text-center">
					<h2>
						Our tour packages
					</h2>
					<p>
						Our premium tour packages and offerings.  
					</p>
				</div><!--/.gallery-header-->
				<div class="packages-content">
					<div class="row">
						<% @tours.each do |tour|%>
							<div class="col-md-4 col-sm-6">
								<div class="single-package-item">
									<%= image_tag(url_for(tour.medias[0]), alt: "portfolio image")%>
									<div class="single-package-item-txt">
										<h3><%= tour.destination.country%> <span class="pull-right"><%= tour.tour_price_range%></span></h3>
										<div class="packages-para">
											<p>
												<span>
													<strong class="text-black"><%= tour.tour_title%></strong>
												</span>
											</p>
											<p>
												<span>
													<i class="fas fa-angle-right"></i> <%= tour.tour_duration%>
												</span>
											</p>
											<p>
												<span>
													<i class="fas fa-angle-right"></i>  <%= tour.destination.city%>, <%= tour.destination.country%>
												</span>
												<i class="fas fa-angle-right"></i>  food facilities
											 </p>
										</div><!--/.packages-para-->
										<div class="packages-review">
											<p>
												<%= tour.desciption%>
											</p>
										</div><!--/.packages-review-->
										<div class="about-btn">
											<!-- <button  class="about-view packages-btn">
												book now
											</button> -->
										</div><!--/.about-btn-->
									</div><!--/.single-package-item-txt-->
								</div><!--/.single-package-item-->

							</div><!--/.col-->
						<%end%>
					</div><!--/.row-->
				</div><!--/.packages-content-->
			</div><!--/.container-->

		</section><!--/.packages-->
		<!--packages end-->

		<!-- testemonial Start -->
		<section   class="testemonial">
			<div class="container">

				<div class="gallary-header text-center">
					<h2>
						clients reviews
					</h2>
					<p>
						<strong>Our</strong> Guests Says
					</p>

				</div><!--/.gallery-header-->

				<div class="owl-carousel owl-theme" id="testemonial-carousel">
					<%@testimonials.each do |t|%>
						<div class="home1-testm item">
							<div class="home1-testm-single text-center">
								<div class="home1-testm-img">
									<%= image_tag("Profile.png")%>
								</div><!--/.home1-testm-img-->
								<div class="home1-testm-txt">
									<span class="icon section-icon">
										<i class="fa fa-quote-left" aria-hidden="true"></i>
									</span>
									<p>
										<%= t.message%>
									</p>
									<h3>
										<a href="#">
											<%= t.full_name%>
										</a>
									</h3>
									<!-- <h4>london, england</h4> -->
								</div><!--/.home1-testm-txt-->	
							</div><!--/.home1-testm-single-->

						</div><!--/.item-->
					<%end%>
				</div><!--/.testemonial-carousel-->
			</div><!--/.container-->

		</section><!--/.testimonial-->	
		<!-- testemonial End -->

		<!--blog start-->
		<section id="blog" class="blog">
			<div class="container">
				<div class="blog-details">
						<div class="gallary-header text-center">
							<h2>
								latest news
							</h2>
							<p>
								Travel News from all over the world 
							</p>
						</div><!--/.gallery-header-->
						<div class="blog-content">
							<div class="row">
								<% @posts.each do |post|%>
									<div class="col-sm-4 col-md-4">
										<div class="thumbnail">
											<h2>trending news <span><%= post.created_at.strftime("%b %d, %Y")%></span></h2>
											<div class="thumbnail-img">
												<%= image_tag(post.medias[0])%>
												<div class="thumbnail-img-overlay"></div><!--/.thumbnail-img-overlay-->
											
											</div><!--/.thumbnail-img-->
										  
											<div class="caption">
												<div class="blog-txt">
													<h3>
														<%= link_to post.post_title, post_path(post)%>
													</h3>
													<p>
														<%= truncate post.body, length: 400%> 
													</p>
													
												</div><!--/.blog-txt-->
											</div><!--/.caption-->
										</div><!--/.thumbnail-->

									</div><!--/.col-->
								<%end%>
							</div><!--/.row-->
						</div><!--/.blog-content-->
					</div><!--/.blog-details-->
				</div><!--/.container-->

		</section><!--/.blog-->
		<!--blog end-->

		
		<!--subscribe start-->
		<section id="subs" class="subscribe">
			<div class="container">
				<div class="subscribe-title text-center">
					<h2>
						Join our Subscribers List to Get Regular Update
					</h2>
					<p>
						Subscribe Now. We will send you Best offer for your Trip 
					</p>
				</div>
				<form>
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
							<div class="custom-input-group">
								<input type="email" class="form-control" placeholder="Enter your Email Here">
								<button class="appsLand-btn subscribe-btn">Subscribe</button>
								<div class="clearfix"></div>
								<i class="fa fa-envelope"></i>
							</div>

						</div>
					</div>
				</form>
			</div>

		</section>
		<!--subscribe end-->

<section class="ftco-section contact-section ftco-degree-bg" id="contact">
	<div class="container">
		<div class="row d-flex mb-5 contact-info">
			<div class="gallary-header text-center" style="margin-bottom: 80px !important; ">
					<h2>
						Contact Information
					</h2>
					<p>
						You can reach out to us using the form and the information listed below.  
					</p>
				</div><!--/.gallery-header-->
			<div class="w-100"></div>
			<div class="col-md-3">
				<p ><span class="text1">Address: </span> <%= @company_information.address%></p>
				<p ><span class="text1">Address 2: </span> <%= @company_information.alternative_address%></p>
				
				
			</div>
			<div class="col-md-3">
				<p class="text1"><span class="text1">Phone number:</span> <a href="tel://<%= @company_information.phone_number%>"><%= @company_information.phone_number%></a></p>
				<p ><span class="text1">Phone number 2: </span> <a href="tel://<%= @company_information.alternative_phone_number%>"><%= @company_information.alternative_phone_number%></a></p>
				</div>
				<div class="col-md-3">
					<p ><span class="text1">Email:</span> <span><%= @company_information.email%></span></p>
				</div>


			</div>
			<div class="row block-9">
				<div class="col-md-6 pr-md-5">
					<%= form_for(Contact.new, url: pages_path, method: "post") do |f|%>
					<div class="form-group">
						<%= f.text_field :full_name, class: "form-control", placeholder: "Full Name *",required: true %>
					</div>
					<div class="form-group">
						<%= f.text_field :email, class: "form-control", placeholder: "Email *",required: true %>
					</div>
					<div class="form-group">
						<%= f.text_field :phone_number, class: "form-control", placeholder: "Phone Number" %>
					</div>
					<div class="form-group">
						<%= f.text_field :subject, class: "form-control", placeholder: "Subject",required: true %>
					</div>
					<div class="form-group">
						<select name="contact[comment_type]" id="user_sex" class="form-control custom-select custom-select-lg mb-3">
							<option selected>Type Of Message</option>
							<option value="Testimonial">Testimonial</option>
							<option value="Comment">Comment</option>
							<option value="Question">Question</option>
						</select>
					</div>
					<div class="form-group">
						<%= f.text_area :message ,cols: 30, rows: 7, class: "form-control", placeholder: "Message..."%>
					</div>
					<div class="form-group">
						<%= f.submit 'Send Message ', class: "btn btn-primary py-3 px-5" %>
					</div>
					<%end%>
				</div>
				<div class="col-md-6" id="map"><%= @company_information.map_embed_link.html_safe%></div>
			</div>
		</div>
	</section>

